<nav id="sidebar"  class="px-3 pt-2 shadow-sm d-none d-md-block">
    <div class="sidebar-header text-center">
        <img src="../../assets/img/persona.png" alt="" class="img-fluid">
    </div>
    <ul class="list-unstyled text-center pt-5">
        <li class="border-bottom py-3" [ngClass]="bankServiceService.status ? 'd-none':''">
            <a href="#" >
                <i class="fas fa-home"></i>
                <span class="font-weight-bold">TUS PRODUCTOS</span>
            </a>
        </li>
        <li class="border-bottom py-3" [ngClass]="bankServiceService.status ? 'd-none':''">
            <a href="#" >
                <i class="fas fa-home"></i>
                <span>TU ORGANIZADOR</span>
            </a>
        </li>
        <li class="border-bottom py-3" [ngClass]="bankServiceService.status ? 'd-none':''">
            <a href="#" >
                <i class="fas fa-home"></i>
                <span>PAGOS</span>
            </a>
        </li>
        <li class="border-bottom py-3" [ngClass]="bankServiceService.status ? 'd-none':''">
            <a href="#" >
                <i class="fas fa-home"></i>
                <span>TRANSFERENCIAS</span>
            </a>
        </li>
        <li class="border-bottom py-3" [ngClass]="bankServiceService.status ? 'd-none':''">
            <a href="#" >
                <i class="fas fa-home"></i>
                <span>CERTIFICADOS</span>
            </a>
        </li>
        <li class="border-bottom py-3" [ngClass]="bankServiceService.status ? 'd-none':''">
            <a href="#" >
                <i class="fas fa-home"></i>
                <span>SEGURIDAD</span>
            </a>
        </li>
    </ul>
</nav>